body{
background:#0b0b12;
color:white;
font-family:Arial;
margin:0;
}

header{
display:flex;
justify-content:space-between;
padding:20px;
background:#14141f;
}

a{
color:white;
text-decoration:none;
margin-left:20px;
}

.hero{
text-align:center;
padding:100px;
}

button{

background:#7C3AED;

color:white;

padding:15px 30px;

border:none;

border-radius:30px;

cursor:pointer;

font-size:18px;

}
